[submodule "OWSLib"]
	path = OWSLib
	url = https://github.com/ldesousa/OWSLib.git
	branch = iguess
[submodule "WPSClient/WPSClient/MapFileText"]
	branch = master
	path = WPSClient/WPSClient/MapFileText
	url = https://github.com/ldesousa/MapFileText.git
[submodule "WPSClient"]
	path = WPSClient
	url = https://github.com/iguess/wpsclient.git
