[submodule "OWSLib"]
	path = OWSLib
	url = git@github.com:ldesousa/OWSLib.git
	branch = iguess
[submodule "WPSClient/WPSClient/MapFileText"]
	branch = master
	path = WPSClient/WPSClient/MapFileText
	url = https://github.com/ldesousa/MapFileText.git
[submodule "WPSClient"]
	path = WPSClient
	url = git@github.com:ERIN-LIST/wpsclient.git
