#!/user/bin/python

# Rename this file to iguess_db_credentials.py and change its according to environment

dbServer   = "localhost" # "127.0.0.1" 
dbName     = "music"
dbUsername = "myUser"
dbPassword = "myPassaword"
dbSchema   = "iguess_dev"

baseMapServerUrl = "http://maps.iguess.tudor.lu/cgi-bin/mapserv?map="

logFileName = "/tmp/wpscheck-test.log"