/* Put any iguess specific styles here */

#top_banner
{
  background: url(images/SmatCityEnergyBG.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-top: 0em; 
}

#inside_banner
{
	height: 90px;
}

#navbar {
  width: 100%;
  height: 30px;
  background: #ccc;
}

#nav a {
  background: url(images/nav_music.gif) no-repeat top right;
  padding: 6px 16px 6px 12px;
}


.footer 
{
  background: url(images/SmatCityEnergyFooterBG.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 90px;
  width: 100%;
  /*background-repeat:repeat-x;
  background-position:bottom;*/
}

.footer-table
{
	width: 200px;
	padding: 6px;
	margin-left: auto;
  	margin-right: auto;
  	padding-top: 18px;
}

.footer-table-spacer
{
	padding: 12px;
}

.home-page-text {
  text-align: left;
  color: #888;
  font-size: 18px;
  max-width: 800px;
}


.home-page-text p {
  padding-bottom: 12px;
  text-align: justify;
}


.home-page-text h2 {
  padding-top: 20px;
}


.home-page-text ul {
  padding-left: 20px;
}
