/* Put any lamilo specific styles here */

#top_banner {
    background-color: #B3D335;
}


.footer-table td {
    border: 4px solid #B3D335;
    padding: 15px;
    min-width: 125px;
}


.footer-table {
    color: #888;
    border-spacing: 15px;
    border-collapse: separate;
}


.home-page-text {
	text-align: left;
	color: #888;
	font-size: 18px;
	max-width: 800px;
}


.side-links {
	color:white;
	width: 200px;
	background-color: #B3D335;
	float: right;
	font-size: 30px;
	padding: 20px;
	margin-left: 20px;
}


/* Hide certain tabs for Lamilo */
#nav-4, #nav-7 {
  display: none;
}


.main-text {
	width: 90%;
	margin: 0 auto;
}
