<div class="main-text footer">
<table class="footer-table">
  <tr>
    <td align=right>
    	<%= link_to image_tag("tudor_logo.png", :border => 0, :size => "99x35", :alt => "CRP Henri Tudor"), "http://www.tudor.lu/" %>
    </td>
    <td align=left>
		<%= link_to image_tag("logo_lippman.gif", :border => 0, :alt => "CRP Gabriel Lippman"), "http://www.crpgl.lu/" %>
    </td>
  </tr>
</table>
<div>