<div class="home-page-text">

  <h2>The iGUESS Team</h2>

  <ul>
     <li>Olivier Baume</li>
     <li>Christian Braun</li>
     <li>Luís de Sousa</li>
     <li>Chris Eykamp</li>
     <li>Ulrich Leopold</li>
     <li>Rui Martins</li>
  </ul>

  <h2>Contact</h2>
  For more information about the iGUESS project, please contact 
  <script type="text/javascript">
     // From http://www.jottings.com/obfuscator/
     // This code is freeware provided these four comment lines remain intact
     // A wizard to generate this code is at http://www.jottings.com/obfuscator/
     { coded = "wfsvmW.f7CTCfO@3wOCs.fw"
       key = "4a3W06vYzkdHNfIE2TjCGJb1KXBAZLRucOFVSrex5thUPiM8D9nQlgwmpqoys7"
       shift=coded.length
       link=""
       for (i=0; i<coded.length; i++) {
         if (key.indexOf(coded.charAt(i))==-1) {
           ltr = coded.charAt(i)
           link += (ltr)
         }
         else {     
           ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
           link += (key.charAt(ltr))
         }
       }
     document.write("<a href='mailto:"+link+"'>Ulrich Leopold</a>")
     }
     //-->
  </script>.
  <noscript>Sorry, you need Javascript on to email me.</noscript>
</div>