<div class="owner-logo">
  <%= link_to image_tag("list_logo.png", :border => 0, :alt => "Luxembourg Institute of Science and Technology"), "http://www.list.lu/" %>
</div>

<div class="sponsor-logos">
  <%= link_to image_tag("music_logo.png", :border => 1, :alt => "MUSIC Project"), "http://themusicproject.eu" %>&nbsp;
  <%= link_to image_tag("interreg_logo.png", :border => 0, :alt => "INTERREG IVB"), "http://www.nweurope.eu/" %>
</div>

<div>
  <div class="site-title"><%= @site.title %></div>
  <div class="site-subtitle">integrated Geospatial Urban Energy information and Support System</div>
</div>

