<div class="main-text footer">
<table class="footer-table">
  <tr>
    <td>
    	<%= link_to image_tag("list_logo.png", :border => 0, :alt => "Luxembourg Institute of Science and Technology"), "http://www.list.lu/" %>
    </td>
    <td class="footer-table-spacer"></td>
    <td>
    	<%= link_to image_tag("music_logo.png", :border => 0, :alt => "MUSIC Project"), "http://themusicproject.eu" %>
    </td>
    <td class="footer-table-spacer"></td>
    <td>
    	<%= link_to image_tag("interreg_logo.png", :border => 0, :alt => "INTERREG IVB"), "http://www.nweurope.eu/" %>
    </td>
  </tr>
</table>
<div>
