<p>
  Smart City Logistics is based on the open source geospatial software framework iGUESS built on the Open Geospatial Consortium (OGC) Standards. It allows easy and transparent ways of data integration and exchange, the integration and linking of modelling tools and the visualisation of information. iGUESS provides a basis for web based decision support platforms in the fields of Urban logistics, Energy planning, Water management, Air Pollution and Ecosystems Services to make our Cities smarter.
</p>

<p>
  For further information on OGC standards please see <a href="http://youtu.be/bfkCdir-yO8">http://youtu.be/bfkCdir-yO8</a>.
</p>