<div class="owner-logo">
  <%= link_to image_tag("tudor_logo.png", :border => 0, :size => "99x35", :alt => "Henri Tudor Institute"), "http://www.tudor.lu/" %>
</div>

<div class="sponsor-logos">
  <%= link_to image_tag("lamilo_logo.png", :border => 1, :alt => "LaMiLo Project"), "http://www.lamiloproject.eu" %>&nbsp;
  <%= link_to image_tag("interreg_logo.png", :border => 0, :alt => "INTERREG IVB"), "http://www.nweurope.eu/" %>
</div>

<div>
  <div class="site-title"><%= @site.title %></div>
  <div class="site-subtitle">An integrated Geospatial Urban dEcision Support System for Sustainable City Logistics</div>
</div>

