   <div class="headline" id="headline1">
      understand your options...
   </div>
   <div class="headline" id="headline2">
      plan your future.
   </div>

   <p id="headline-spacer"></p>

  <div class="side-links">Maps Preview</div>

  <div class="home-page-text">IGUESS-SL was created as an urban logistics portal with information collected in Luxembourg-City and currently being expanded to other European cities. It encompasses rich datasets of relevant and detailed logistics information to illustrate the factors that impact delivery performance.</div>
