
<table class="footer-table">
   <tr>
      <td><h1>About LAMILO</h1></td>
      <td><h2>Influencing Change:</h2>
         Influence current last mile logistics behaviour</td>
      <td><h2>Benefits:</h2>
         Improve productivity and customer satisfaction</td>
      <td><h2>Solutions for the private sector:</h2>
         Develop and implement practical sustainable last mile logistics plans</td>
      <td><h2>Register your interest:</h2>
         Sign up for email updates on Lamilo developments</td>
   </tr>
</table>