<div class="home-page-text">

  <p>
    Smart City Logistics is based on the open source geospatial software framework iGUESS built on the Open Geospatial Consortium (OGC) Standards. It allows easy and transparent ways of data integration and exchange, the integration and linking of modelling tools and the visualisation of information. iGUESS provides a basis for web based decision support platforms in the fields of Urban logistics, Energy planning, Water management, Air Pollution and Ecosystems Services to make our Cities smarter.
  </p>

  <p>
    For further information on OGC standards please see <a href="http://youtu.be/bfkCdir-yO8">http://youtu.be/bfkCdir-yO8</a>.
  </p>

  <h2>The iGUESS Team</h2>

  <ul>
     <li>  Christian Braun</li>
     <li>  Luís de Sousa</li>
     <li>  Matteo de Stefano</li>
     <li>  Ulrich Leopold</li>
     <li>  Rui Martins</li>
     <li>  Alessio Mastrucci</li>
  </ul>
  <br><br>
  <i>Former team members and additional contributors</i>
  <ul>
     <li>  Olivier Baume</li>
     <li>  Calin Ciociu</li>
     <li>  Luisa Egenlauf</li>
     <li>  Christopher Eykamp</li>
     <li>  Jovial Matshazi</li>
     <li>  Susanna Salvucci</li>
     <li>  Kerry Schiel</li>
  </ul>
  
  <h2>Contact</h2>
  For more information about the iGUESS project, please contact 
<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "VLGHox.LUZfZLj@LHkO.LV"
  key = "AkUP4iGoq8MESBOdgf3DWFJKYIaHhZzln2ubwjRyTsem5CrcQ1xN0Lt6VpX9v7"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>Ulrich Leopold</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
</div>