
<div class="main-text">
<table class="footer-table">
   <tr>
      <td>
         <a class="footer-graphic" href="http://www.lamiloproject.eu/about-lamilo"></a>
      </td>
      
      <td>
         <div class="module-surround">
            <div class="module-title">
               <h2 class="footer-title">Most recent</h2>
            </div>
            <div class="module-content">
               <ul class="footer-menu">
                  <li>
                     <a title="About Lamilo" href="http://www.lamiloproject.eu/promoting-best-practice-in-brussels/"><span>About Lamilo</span></a>
                  </li>
                  <li>
                     <a title="Influencing Change" href="http://www.lamiloproject.eu/category/influencing-change/"><span>Influencing Change</span></a>
                  </li>
                  <li>
                     <a title="Benefits" href="http://www.lamiloproject.eu/public-sector-influencing/"><span>Benefits</span></a>
                  </li>
                  <li>
                     <a title="Solutions for the Private Sector" href="http://www.lamiloproject.eu/interreg-nwe-annual-conference/"><span>Solutions for the Private Sector</span></a>
                  </li>
               </ul>
            </div>
         </div>
      </td>
      <td>
         <div class="module-surround">
            <div class="module-title">
               <h2 class="footer-title">About Tudor</h2>
            </div>
            <div class="module-content">
               <ul class="footer-menu">
                  <li>
                     <a title="Register Your Interest" href="http://tudor.us5.list-manage.com/subscribe?u=7bc645dfff7078589b90f5ee3&id=1ba8945278"><span>Register Your Interest: Sign up for email updates on Lamilo developments</span></a>
                  </li>
                  <li>
                     <a title="Tudor Website" href="http://www.tudor.lu/"><span>Tudor Website</span></a>
                  </li>
               </ul>
            </div>
         </div>
      </td>
      <td>
         <div class="module-surround">
            <div class="module-title">
               <h2 class="footer-title">Interreg IVB</h2>
            </div>
            <div class="module-content">
               <ul class="footer-menu">
                  <a "=" target="_blank" href="http://www.nweurope.eu/">
                     <img width="200" height="138" src="http://www.lamiloproject.eu/wp-content/themes/rt_gantry_wp/images/investing-in-opps-logo.png">
                     </a>
               </ul>
            </div>
         </div>
      </td>
   </tr>
</table>
<div>