<div class="main-text footer">

<table class="footer-table">
  <tr>
    <td rowspan=2>
      <a class="footer-graphic" href="http://www.lamiloproject.eu/about-lamilo"></a>
    </td>
    <td>
      <div class="module-surround">
        <div class="module-title">
          <h2 class="footer-title">About LaMiLo</h2>
        </div>
        <div class="module-content">
          <ul class="footer-menu">
            <li>
              <a title="Influencing Change" href="http://www.lamiloproject.eu/category/influencing-change/"><span>Influencing Change</span></a>
            </li>
            <li>
              <a title="Benefits" href="http://www.lamiloproject.eu/who-will-benefit/"><span>Benefits</span></a>
            </li>
            <li>
              <a title="Influencing the Public Sector" href="http://www.lamiloproject.eu/public-sector-influencing/"><span>Influencing the Public Sector</span></a>
            </li>
            <!--<li>
              <a title="Legal" href="/legal"><span>Legal</span></a>
            </li>
            <li>
              © Public Research Centre Henri Tudor
            </li>-->

          </ul>
        </div>
      </div>
    </td>
    <td>
      <div class="module-surround">
        <div class="module-title">
          <h2 class="footer-title">About Tudor</h2>
        </div>
        <div class="module-content">
          <ul class="footer-menu">
            <li>
              <a title="Register Your Interest" href="http://tudor.us5.list-manage.com/subscribe?u=7bc645dfff7078589b90f5ee3&id=1ba8945278">
              	<span>Register Your Interest: <br> Sign up for email updates on Lamilo developments</span></a>
            </li>
            <li>
              <a title="Tudor Website" href="http://www.tudor.lu/"><span>Tudor Website</span></a>
            </li>
          </ul>
        </div>
      </div>
    </td>
    <td rowspan=2>
      <div class="module-surround">
        <div class="module-title">
          <h2 class="footer-title">Interreg IVB</h2>
        </div>
        <div class="module-content">
          <ul class="footer-menu">
            <%= link_to image_tag("investing-in-opps-logo.png", :border => 0, :alt => "INTERREG IVB"), "http://www.nweurope.eu/" %>
          </ul>
        </div>
      </div>
    </td>
  </tr>
  <tr>
  	<td colspan=2 align=center>
  		<span>&#xa9; 2014 Public Research Centre Henri Tudor | </span>
  		<a title="Legal Info" href="/legal"><span>Legal Info</span></a>
  	</td>
  </tr>
</table>
<div>