<div class="owner-logo" style="margin-top: 30px;">
  <%= link_to image_tag("tudor_logo.png", :border => 0, :size => "99x35", :alt => "Henri Tudor Institute"), "http://www.tudor.lu/" %>
</div>

<div class="sponsor-logos" style="margin-top: 30px;">
  <%= link_to image_tag("lamilo_logo.png", :border => 1, :alt => "LaMiLo Project"), "http://www.lamiloproject.eu" %>&nbsp;
  <%= link_to image_tag("interreg_logo.png", :border => 0, :alt => "INTERREG IVB"), "http://www.nweurope.eu/" %>
</div>

<div>
  <div class="center">
  	<%= link_to image_tag("Lamilo_Website_v05.jpg", :border => 0, :alt => "Smart City Logistics")%>
  </div>
</div>


<!-- Google Analytics tracking code -->
 <script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-2000429-9', 'auto');
 ga('send', 'pageview');

 </script>

