
<!-- <%= javascript_include_tag 'webgis/initMap' %> -->

<!-- A precise height in pixels must be provided for this div, otherwise 
   the browser won't be able to calculate it and the map doesn't get rendered.     -->
<div style="float: left; width:<%= width %>; height:<%= height %>; margin:6px;" id="MiniMap"></div>