<div class="main-text footer">

<table class="footer-table">
  <tr>
    <td rowspan=2>
    </td>
    <td align="left" valign="bottom">
    <%= link_to image_tag("list_logo.png", :border => 0, :alt => "Luxembourg Institute of Science and Technology"), "http://www.list.lu/" %>
    </td>
    <td>
      <div class="module-surround">
        <div class="module-title">
          <h2 class="footer-title">About LIST</h2>
        </div>
        <div class="module-content">
          <ul class="footer-menu">
            <li>
              <a title="LIST Website" href="http://www.list.lu/" target="_blank"><span>LIST Website</span></a>
            </li>
          </ul>
        </div>
      </div>
    </td>
    <td rowspan=2>
    </td>
  </tr>
  <tr>
  	<td colspan=2 align=center>
  		<span>&#xa9; 2014-2015 Luxembourg Institute of Science and Technology | </span>
  		<a title="Legal Info" href="/legal"><span>Legal Info</span></a>
  	</td>
  </tr>
</table>
<div>