<!--    <div id="wrapper">

        <div id="gallery" class="nivoGallery">
            <ul>

                <li data-title="System Architecture"
                    data-caption="The iGUESS system architecture">
                    <img src="assets/slideshow/system_diagram.png" alt="" />
                </li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="The Data Management component">
					<table border=2>
							<td>

								<H3>Data Manager</H3>
							<br>
							* Upload new data sets to the system and register remote data services.
							<br><br>
							* Classify data sets as specific inputs to Modules.
							<br><br>
							* Update Metadata on stored data sets or linked data services.
							<br><br>
							* Invoke the calculation of new data sets.
							<br>
							</td>
							<td><img src="assets/slideshow/mapLayers.jpg"> lekfjlejclekjclkelkejc</td>
						</tr>
					</table>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="The Modules component">
					<table>
						<tr>
							<td><H3>Modules</H3>
								<br>
					* Browse Module Catalogue.
					<br><br>
					* Invoke calculations of new data sets.
					<br><br>
					* ModConfigure Modules for alternative outputs.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>Energy Modelling / Scenarios</H3>
								<br>
					* Browse Scenario Catalog.
					<br><br>
					* Develop new Scenarios from the base-case Scenario.
					<br><br>
					* Run Scenarios.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>Decision Support</H3>
								<br>
					* Compare Scenario output.
					<br><br>
					* Generate reports summarizing scenarios and their outcomes.
					<br><br>
					* Uncertainty Engine.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>WebGIS</H3>
								<br>
					* Visualize spatial data sets.
					<br><br>
					* Compare Scenario outputs.
					<br><br>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>
            </ul>
        </div>

    </div>

    <%= javascript_include_tag "/jquery.nivo.gallery.min.js" %>

    <script type="text/javascript">
		$(document).ready(function() {
			$('#gallery').nivoGallery();
		});

    </script> -->

<div>
  <h1 class="front_page_col_header">What is iGUESS?</h1>

  <div class="front_page_col_body">
    iGUESS is a web based spatial decision support platform for urban energy planning.
    European cities are in need of comprehensive geospatial tools to develop and implement
    their carbon-reductive planning and policies and to monitor the progress they make.
    With iGUESS, cities will be able to compute and visualise energy consumption and
    their related CO2 emissions, identify opportunities for balancing energy sources and
    sinks via scenarios and monitor the effects of energy saving measures in their city.
    iGUESS will help your city to:

    <ul>
      <li>compute and visualise urban energy maps, with information on costs, consump-
        tion and emissions;
      <li>support urban planning by identifying of renewable energy potentials, e.g. solar,
        wind, geothermal, heat;
      <li>evelop and test different scenarios and optimise a city’s energy system;
      <li>monitor emission mitigation actions.
    </ul>
  </div>

  <h1 class="front_page_col_header">Who is using iGUESS?</h1>
  <div class="front_page_col_body">
    Currently, iGUESS is used within the MUSIC project by its 5 partner cities Aberdeen,
    Ghent, Ludwigsburg, Montreuil and Rotterdam. The development is done by the
    Public Research Centre Henri Tudor.



    <br />
    <br />
    <br />
    <br />
    <%= link_to "Manage WPS Servers", wps_servers_path %><br />
    <%= link_to "Manage Cities", cities_path %><br />
    <a href="#" onclick="alert('This function not yet implemented!')">Administer Databases</a> <br>
    <a href="data_requirements_spreadsheet.html">Dataset Requirements Spreadsheet</a>


    <br />
    <br />
    <br />

  </div>
