<!-- Show a list of users pending approval -->
<% if user_signed_in? and @user.is_admin and @unapproved_users.length > 0%>
  <table class="zebra">
    <tr><th colspan=2 class="center"><%= @current_city.name %> users waiting for approval</th></tr>
    <% @unapproved_users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render @site_details.body_html_file %>
