<div>
   <div class="headline" id="headline1">
      understand your options for DSS
   </div>
   <div class="headline" id="headline2">
      plan your future.
   </div>

   <p id="headline-spacer"></p>

</div>

<div class="clear"></div>

   <script type="text/javascript">  // Activate the tabs
      // perform JavaScript after the document is scriptable.
      $(function() {
          // setup ul.tabs to work as tabs for each div directly under div.panes
          $("ul.dosomething").tabs("div.panes > div");
      });
   </script>



    <br />
    <br />
    <br />

  </div>
