<label class='simple_form label'>Area of Interest</label>
<select>
	<option value=-1>Do not use an Area of Interest</option>
	<% getAoiDatasets(@current_city).each do |d| %><option value="<%= d.id %>"><%= d.title %></option><% end %>
</select>

