<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new ticket has been registered in iGUESS, for full details follow <a href=<%= @url %>>this link</a>.
    </p>
    <h1><%= @ticket.title %></h1>
    <p>
      <%= @ticket.description %><br>
    </p>
  </body>
</html>