<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %> has requested registration in iGUESS</h1>
    <p>
      The user e-mail is: <%= @user.email %> .<br>
    </p>
    <p>
      To approve or reject this request, please follow <a href=<%= @url %>>this link</a>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>