/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
//= require_self
 //= require vendor
 //= require_tree .
*/

body {
  font: 13px/1.5 /*'Trebuchet MS', */ 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 0;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}


h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }

ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }

p, dl, hr, ol, ul, pre, /*table,*/ address, fieldset, figure { margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 0px; }

/* Body in "normal" mode */
body.basic {

  min-width: 900px;
  width: 100%;

  background-image: url(images/buildings.png);
  background-repeat:repeat-x;
  background-position:bottom;
}

/* Body when displayed in a popup */
body.popup {
  width: 100%;
}

/* Get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

a {
  outline: 0;
}

:focus {
  -moz-outline-style:none;
}

/* See http://stackoverflow.com/questions/895904/select-inputs-and-text-inputs-in-html-best-way-to-make-equal-width */
input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#main_body {
  margin: 1em;
}


/* H1 text at top of each page */
.page_header {
  margin-bottom: 0;
}


.hint {
  font-size: .85em;
}

.clear {
  clear:both;
}


/* Make a link look like a button... or, hell, make a button look like a button! */
.linkbutton {

  padding: 8px; 
  font-size: 20px;
  color: #222;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 15px;

  /* Based on http://www.css3.me/ */
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
  /*box-shadow: 0px 0px 1px #000000;*/
  background-image: -moz-linear-gradient(top, #ffffff, #bbb);
  background-image: -ms-linear-gradient(top, #ffffff, #bbb);
  background-image: -o-linear-gradient(top, #ffffff, #bbb);
  background-image: -webkit-linear-gradient(top, #ffffff, #bbb);
  background-image: linear-gradient(top, #ffffff, #bbb);
  background-clip: padding-box;
  /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
  /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.linkbutton:not([disabled="disabled"]):hover
{
  background-image: -moz-linear-gradient(top, #ddddff, #99b);
  background-image: -ms-linear-gradient(top, #ddddff, #99b);
  background-image: -o-linear-gradient(top, #ddddff, #99b);
  background-image: -webkit-linear-gradient(top, #ddddff, #99b);
  background-image: linear-gradient(top, #ddddff, #99b);
  background-clip: padding-box;
}


.linkbutton[disabled]
{ 
  color: #777;
}



.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}


/* Banner across top of every page, holds site title, logos, city picklist, navbar, etc. */
#top_banner {
 text-align: center;
 color: white;
 vertical-align: middle;
 background-color: #393;
 padding-top: .5em;
 border-bottom: 1px #999 solid;
}


#wms-failure-message, .error-msg {
  color: red;
}


.module-not-found {
  padding-left: 10px;
  padding-right: 10px;
}

.link-icon {
  vertical-align: middle;
  padding-right: 4px;
}


.loading_indicator {
  padding: 8px 8px;
  background-image: url(images/loading_spinner.gif);
  background-repeat: no-repeat;
  background-position:center center;
}


.explanation, .explanation-problem, .explanation-running, .explanation-success {
  display: block;
  padding: 15px 1em 15px 50px;
  margin: 0.25em 0 1.5em 0;
}

/* Light blue explanation box */
.explanation {
  background: #D5E9F6 url(images/info_icon.svg) no-repeat left center;
  background-size: 32px 32px;
  background-position: 10px 40%;    /* Distance from the left */

}

.explanation-running {
  background: #FFCC00 url(images/cogs03.gif) no-repeat left center;
  background-size: 44px 44px;
  background-position: 8px 40%;  /* Distance from the left */
  padding-left: 56px;
}

.explanation-success {
  background: #4CE44C url(images/success_green.png) no-repeat left center;
  background-size: 32px 32px;
  background-position: 10px 40%;    /* Distance from the left */
}

.explanation-problem {
  background: #F6B9A5 url(images/error_icon.png) no-repeat left center;
  background-size: 32px 32px;
  background-position: 10px 40%;    /* Distance from the left */
}

.explanation ul {
  list-style: square/* url("images/grey_bullet.gif")*/;
}

.explanation li {
  margin-left: 20px;
}


.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.top {
  vertical-align:text-top;
}

.two_col_table_left {
  padding: 15px;
  background: #9c9;
}

.two_col_table_right {
  background: #c9c;
  padding:15px;
}

.click_to_edit {
  padding-left: 10px;
  color: #999;
}

/* Hidden, occupies space */
.hidden {
  visibility: hidden;
}

/* Hidden, occupies no space */
.nodisplay {
  display: none;
}

/* Those little question mark icons that provide more info about something */
.info-icon {
  margin-left: 8px;
  margin-top: 3px;
  cursor:pointer;
}

.properties {
  padding: 8px 8px;
  background-image: url(/assets/small_gear.png);
  background-repeat: no-repeat;
  background-position:center center;
}

/* Div where services are displayed on register WPS and register datasets screens */
.services-display {
  height:100%; 
  background-color:#eeeeee;
}

/* Div containing progress indicators on register WPS and register datasets screens */
.progress-container {
  padding: 5px;
  background-color: #f8f8f8;
  display: none;
}

.probing {
  padding-left: 5px;
}



/* AVAILABLE, UNAVAILABLE --> used on datasets page */
/* ERROR, READY, NEEDS_DATA, AVAILABLE, RUNNING --> used on the modules page */

/* Status of module run (these styles are generated, won't be found in code */
.status-ERROR, .status-UNAVAILABLE {
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.status-READY, .status-ERROR, .status-FINISHED {
  display: block;
}

.status-NEEDS_DATA {
  text-align: center;
  display: block;
}

.status-AVAILABLE, .status-READY, .status-FINISHED {
  text-align: center;
}

.status-RUNNING {
  background: green;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}


.show-no-tags-msg-when-empty:empty:after {
  content: "No tags";
  width: 20px;
};