.grid-input 
{
 	width: 200px;
 	white-space: nowrap
}

/* Suppress whitespace around input fields */
.grid-input div 
{ 
	display: inline;
}

/* Center the input fields in their table columns */
.grid-input td 
{ 
	text-align: center; 
}

/* Make first columns, which contain the labels, left-justified */
.grid-input td:first-of-type 
{ 
	text-align: left; 
}

/* Text inputs */
.grid-input input 
{ 
	width: 50px; 
}

/* Totals header */
.total-header 
{ 
  background: #CBC100 !important; 
}

/* Fossils header */
.fossil-header 
{ 
  background: #CBC100 !important; 
}


/* Totals inputs */
.percent-green 
{ 
  background: #CCFFCC !important; 
  border-width: thin;
  border-color: #CCCCCC;
}
.percent-red 
{ 
  background: #FFCCCC !important; 
  border-width: thin;
  border-color: #CCCCCC;
}

/* Charts */
.chart 
{
  min-width: 310px; 
  width: 80%; 
  height: 400px; 
  margin: 0 auto
}

/* Scenarios list */
a.duplicate:link a.duplicate:visited 
{
  color: #0000AA !important;
}

a.delete:link a.delete:visited 
{
  color: #AA0000 !important;
}
