.grid-input 
{
 	width: 200px;
 	white-space: nowrap
}

/* Suppress whitespace around input fields */
.grid-input div 
{ 
	display: inline;
}

/* Center the input fields in their table columns */
.grid-input td 
{ 
	text-align: center; 
}

/* Make first columns, which contain the labels, left-justified */
.grid-input td:first-of-type 
{ 
	text-align: left; 
}

/* Text inputs */
.grid-input input 
{ 
	width: 50px; 
}

/* Totals header */
.total-header 
{ 
  background: #FACC2E !important; 
}

/* Fossils header */
.fossil-header 
{ 
  background: #D7DF01 !important; 
}


/* Totals inputs */
.percent-green 
{ 
  background: #CCFFCC !important; 
  border-width: thin;
  border-color: #CCCCCC;
}
.percent-red 
{ 
  background: #FFCCCC !important; 
  border-width: thin;
  border-color: #CCCCCC;
}

/* Charts */
.chart 
{
  min-width: 310px; 
  width: 80%; 
  height: 400px; 
  margin: 0 auto
}

/* Scenarios list */
a.duplicate:link a.duplicate:visited 
{
  color: #0000AA !important;
}

a.delete:link a.delete:visited 
{
  color: #AA0000 !important;
}

/* Emission Factors */
.emiss-factors-title:hover 
{
  color: #7777EE !important;
  cursor:pointer;
  cursor:hand;
}

/* Toggle button */
.toggle
{
  text-align: center;
  vertical-align: middle;
  color: #444444 !important;
  background: #FAFA7D !important;
  border-color: #777777  !important;
  border-style: outset;
  border-width: 1px;
  border-radius: 4px;
  width: 150px !important;
}

.toggle:hover 
{
  color: #000033 !important;
  border-color: #333366  !important;
  cursor:pointer;
  cursor:hand;
}
