// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#layer-table {      // ul
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


.map-data-item {    // li
  display: inline-block;
  margin: 6px;
  padding: 2px;
  outline: 1px solid rgba(0,0,0,0.2);       // Outer line
  height: 100%;
}

// Combines with the below, describes container just inside outer border
.dataset {
  height: 100%;
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  min-height: 200px;
}

// Green tile
.registered_dataset {
  background: #CFC;
}

// Red tile
.unregistered_dataset {
  background: #FCC;
}


// Container to the left of the map-data-item, holding sample-map and map-data-item below
.data-info {
  width: 250px;
  height: 100%;
  float: left;
}

// Sample map embedded in a map-data-item
.sample-map {
  width: 300px;
  height: 200px;
  border: solid black 1px;
  float: right;
}


// Title at top of tile
.dataset_title {
  font-weight: bold; 
}

.dataset_abstract {
  
}

// "Services: WFS, WMS" text
.dataset_services_available {
  
}

// Container for "available in..." graphics
.dataset_srs {
  
}

// Refers to divs holding "layer available" icons
.loading-status-icon {
  margin-bottom: -5px; 
}


.layer-info-popup {
  display: none;
}
