// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#add-layer-instructions {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0px;
}


#layer-table {      /* ul */
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


.map-data-item {    /* li */
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  padding: 2px;
  outline: 1px solid rgba(0,0,0,0.2);       /* Outer line */
  height: 100%;
  max-width: 585px;
}

/* Combines with the below, describes container just inside outer border */
.dataset {
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  min-height: 280px;
}

/* Green tile */
.registered_dataset {
  background: #CFC;
}

/* Red tile */
.unregistered_dataset {
  background: #FCC;
}


/* Container to the left of the map-data-item, holding sample-map and map-data-item below */
.data-info {
  margin-top: 5px;
  width: 250px;
  height: 100%;
  float: left;
}

#sortable_table {
  border-collapse: separate; 
  border-spacing: 1px;
}

#sortable_table td {
    padding: 3px 10px;
    position: relative;
    vertical-align: middle;
}

/* Sample map embedded in a map-data-item */
.sample-map {
  width: 300px;
  height: 200px;
  border: solid black 1px;
  float: right;
}

/* Style attached to layer available: yes/no indicators (imgs themselves) -- used for vertical centering */
.status-indicator {
  margin-bottom: -3px;
}

/* Title at top of tile */
.dataset_title {
  font-weight: bold; 
}

.dataset_abstract {
  margin-bottom: 8px;
}

/* "Services: WFS, WMS" text */
.dataset_services_available {
  
}

/* Container for "available in..." graphics */
.dataset_srs {
  
}

/* Refers to divs holding "layer available" icons */
.loading-status-icon {
  margin-bottom: -5px; 
}


.layer-info-popup {
  display: none;
}


.invisible-cell {
  background: #fff;
}


/* Styling for the info popup window when user clicks on a "?" icon */
.infotable {
 
  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  background-color:#E1E5EA;

  width:675px;
  border:1px solid #666;
  padding: 10px;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.infotable .close {
  background-image: url(/assets/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: hand; cursor: pointer;    /* Cover multiple browsers */
  height: 24px;
  width: 24px;
}


.infotable dl
{
  float: left;
  width: 520px;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid #999;
}
  
.infotable dt
{
  clear: left;
  float: left;
  width: 200px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
  font-weight: bold;
}
  
.infotable dd
{
  float: left;
  width: 300px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
}


/* Details panel on infotables */
.technical-details {
  display:none;         /* Starts off hidden */
}


/* Error box title */
.error-header {
  color: red;
  font-weight: bold;
}

/* Error box body */
.error-body {
  color: red;
  font-size: 25px;
}


/* Server name and description, shown above the data tiles */
.server-name {
  font-size: 15px;
  font-weight: bold;
}

.server-descr {
  margin-bottom: 30px;
}

/* Div enclosing server name, descr, and map tiles, starts out hidden, will be made visible when filled */
.server-info {
  display: none;
  background-color: #f8f8f8;
  padding: 5px;
}

/* Div containing progress indicators */
.progress-container {
  padding: 5px;
  background-color: #f8f8f8;
  display: none;
}


/* These for the maps */
.x-panel-body ul {
  list-style: none;
}


.x-tree-node {
  margin-left: 0;
}


.technical-details-header {
  background-color: #cccccc;
  padding-left: 3px;
  font-style: italic;
}


/* Dataset tags -- all tags get this style */
.tag {
  color: #0E3D5E;
  background-color: #E0EAF1;
  border-bottom: 1px solid #3E6D8E;
  border-right: 1px solid #7F9FB6;
  padding: 3px 4px 3px 4px;
  margin-left: -1px;
  text-decoration: none;
  font-size: 90%;
  line-height: 2.0;
  white-space: nowrap;
}

/* Add this style to make tag have a delete icon on it */
.tag-deletable {
  background-image: url(/assets/close_small.png);
  background-repeat: no-repeat;
  padding-left: 14px;
  background-position: left center;
  cursor: hand; cursor: pointer;    /* Cover multiple browsers */
}