// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.registered_dataset {
  background: #CFC;
  float:left;
  width: 250px;
  height: 170px;
  padding: 15px;
}

.unregistered_dataset {
  background: #FCC;
  float:left;
  width: 250px;
  height: 170px;
  padding: 15px;
}

.dataset_title {
  font-weight: bold; 
}

.dataset_abstract {
  
}

.dataset_services_available {
  
}

.dataset_srs {
  
}

// Sample map embedded in a map-data-item
.sample-map {
  width: 300px;
  height: 200px;
  border: solid black 1px;
  float:right;
}

// "Tile" showing WFS/WMS value on data import page
.map-data-item {
  float: left;
  margin: 10px;
  padding: 5px;
  top:1px;
  left:1px;
  bottom:1px;
  right:1px;
  border:1px solid rgba(255,255,255,0.5);
  outline:1px solid rgba(0,0,0,0.2);
  content:" ";
}
