// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#add-layer-instructions {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0px;
}


#layer-table {      /* ul */
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


.map-data-item {    /* li */
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 2px;
  outline: 1px solid rgba(0,0,0,0.2);       /* Outer line */
  outline-offset: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  max-width: 585px;
}

/* Combines with the below, describes container just inside outer border */
.dataset {
  padding: 10px;
  padding-top: 5px;
  overflow: hidden;
}

/* Green tile */
.registered_dataset {
  background: #CFC;
}

/* Red tile */
.unregistered_dataset {
  background: #FCC;
}


/* Container to the left of the map-data-item, holding sample-map and map-data-item below */
.data-info {
  margin-top: 5px;
  width: 250px;
  float: left;
}

#sortable_table {
  border-collapse: separate; 
  border-spacing: 1px;
}

#sortable_table td {
    padding: 3px 10px;
    position: relative;
    vertical-align: middle;
}

/* Sample map embedded in a map-data-item */
.sample-map {
  width: 300px;
  height: 200px;
  border: solid black 1px;
  float: right;
  background: white;
}

/* Style attached to layer available: yes/no indicators (imgs themselves) -- used for vertical centering */
.status-indicator {
  margin-bottom: -3px;
}

/* Title at top of tile */
.dataset_title {
  font-weight: bold; 
}

.dataset_abstract {
  margin-bottom: 8px;
}

/* "Services: WFS, WMS" text */
.dataset_services_available {
  
}


/* Container for "available in..." graphics */
.dataset_srs {
  
}

/* Refers to divs holding "layer available" icons */
.loading-status-icon {
  margin-bottom: -5px; 
}


.layer-info-popup {
  display: none;
}


.invisible-cell {
  background: #fff;
}


/* Styling for the info popup window when user clicks on a "?" icon */
.infotable {
 
  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  background-color:#E1E5EA;

  width:675px;
  border:1px solid #666;
  padding: 10px;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}
 

/* close button positioned on upper right corner */
.infotable .close {
  background-image: url(/assets/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: hand; cursor: pointer;    /* Cover multiple browsers */
  height: 24px;
  width: 24px;
}


.infotable dl
{
  float: left;
  width: 520px;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid #999;
}
  

.infotable dt
{
  clear: left;
  float: left;
  width: 200px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
  font-weight: bold;
}
  

.infotable dd
{
  float: left;
  width: 300px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
}


/* Details panel on infotables */
.technical-details {
  display:none;         /* Starts off hidden */
}


/* When register datasets is on top */
.register-datasets-button-top {
  margin-left: 100px;
}

/* When register datasets is on the bottom */
.register-datasets-button-bottom {
  margin-top: 15px;
}


/* Error box title */
.error-header {
  color: red;
  font-weight: bold;
}


/* Error box body */
.error-body, .dataset-error {
  color: red;
}


div.error-body {
  font-size: 25px;
}


/* Styling for little message that is displayed when a dataset has no WMS server */
.map-unavailable {
   text-decoration: underline;
   padding-top: 80px;
   text-align: center;
}


/* Server name and description, shown above the data tiles */
.server-name {
  font-size: 15px;
  font-weight: bold;
}


.server-descr {
  
}


.server-owner {
  margin-bottom: 10px;
}

/* Div enclosing server name, descr, and map tiles, starts out hidden, will be made visible when filled */
.server-info {
  display: none;
  background-color: #f8f8f8;
  padding: 5px;
}


/* These for the maps */
.x-panel-body ul {
  list-style: none;
}


.x-tree-node {
  margin-left: 0;
}


.technical-details-header {
  background-color: #cccccc;
  padding-left: 3px;
  font-style: italic;
}


/* Dataset tags look like this */
.tag {
  color: #0E3D5E;
  background-color: #E0EAF1;
}


/* Folder tags look like this */
.folder-tag {
  color: #0E3D5E;
  background-color: #C1E9BB;
}

/*
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica; font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px; }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px; margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}*/

/* All tags get this style */
.folder-tag, .tag {
  border-bottom: 1px solid #3E6D8E;
  border-right: 1px solid #7F9FB6;
  padding: 0 3px;
  margin: 0;
  margin-left: -1px;
  text-decoration: none;
  font-size: 90%;
  white-space: nowrap;
  display: inline-block;
}

/* An input field that is invisible */
.invisible {
  width: 100%; 
  margin: 0px; 
  border: 1px solid transparent; 
  background: transparent; 
  outline: 0px; 
}

/* A div that looks like a text entry field */
.fake-input {
  border: 1px solid #CCC; 
  background: #FFF; 
  padding: 2px; 
  padding-left: 4px;
  width: 240px; 
  overflow-y: auto;
  white-space: nowrap;
}


/* Overlay frame where tag candidates are displayed, starts out hidden */
.tag-candidate-overlay {
  background: #FFF;
  border: 1px solid #666;
  position: absolute;
  left: 0px; 
  padding: 2px;
  display: none;
}


.clickable {
  cursor: hand; cursor: pointer;    /* Cover multiple browsers */
}


/* Add one of these styles to make tag have a delete icon on it */
.tag-delete-button, 
.folder-tag-delete-button {
  background-image: url(/assets/close_small.png);
  background-repeat: no-repeat;
  padding-left: 14px;
  background-position: left center;
  cursor: hand; cursor: pointer;    /* Cover multiple browsers */
  white-space: nowrap;
}


.tag-delete-button[disabled], 
.folder-tag-delete-button[disabled] {
  background-image: url(/assets/close_small-disabled.png);
  cursor: default;
} 


/* Div containing the list of tags and tag picker on mass_import screen */
.tag-control {
  padding-right: 5px;
}


span[disabled]
{
  color: #888888;
}


.tag[disabled] {        /* Also affected by span[disabled] style */
  background-color: #E0E0E0;
  border-bottom: 1px solid #999999;
  border-right:  1px solid #AAAAAA;
} 


.proj-background, .yes-background, .no-background {
  padding: 0;
  text-shadow: 1px 1px #333333;
  color: white;
  white-space: nowrap;
  /*border: 1px solid #333333;*/
  text-align: center;
  margin-top: 1px; 
  margin-bottom: 3px;
}


.proj-background {
  float: left;
  width: 180px;
  background-color: #4e4f4f;
  margin-right: 0px;
}


.yes-background, .no-background {
  width: 30px;
  float: left;
  margin-left: 0px;
}


.yes-background {
  background-color: #01b002;
}


.no-background {
  background-color: #aa0000;
}


/* The Filter entry box at the top of the page */
.filter-box {
  margin-bottom: 6px;
}


/* Projection list on each tile */
.proj-list {
  clear: both;
  font-weight: bold;
  color: #777;
}


.proj-list {
  padding-top: 8px;
}


/* See http://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class/8539107#8539107 */
.proj-list ~ .proj-list {
  padding-top: 0;
}


.proj-list span {
  font-weight: normal;
}


.dataset-identifier {
  display: block;
  float: right;
  color: #777;
  font-weight: bold;
}


.dataset-identifier span {
  font-weight: normal;
}


/* URL preset combobox */
#url-preset-select { 

}


#server_url { 

}


#server_url select:focus, #server_url input:focus { 
  outline:none;
}

.add-tag-dropdown-control {
  width: 150px;
}

/* End URL combobox */

