/* Styling for common form elements */

/* Form element is required */
.required abbr {
  color: red;
}

.simple_form {
  clear: left; 
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 0 10px;
  white-space: nowrap;
  font-weight: bold;
}


.simple_form div.input {
  margin-bottom: 10px;
}


.simple_form div.boolean, .simple_form input[type='submit'] {
  /*margin-left: 15px;*/
}


.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form .button {
 padding: 0 3px; 
}

/* Special for checkbox on login screen */
#user_remember_me {
  vertical-align:-0.25em;
  margin-right: 3px;
}


.shared_links {
  margin-top: 15px;
}


.output-field {
  width: 300px;
}