// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Big task oriented tabs
#front-page-tabs {
   padding: 10px;  
   font-size: 30px;
   float:left;
   width: auto;

   background: whiteSmoke;
   border-radius: 5px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0 auto;
   position: relative;
   width: 80%;
}

#front-page-tabs .tabs {
   display: inline-block;
   width: 550px;
   height: 250px;
   float: left;
   margin-left: -100%;

  


}

#front-page-tabs .tabs ul {
   background: none;
   float: left;
   left: 3px;
   padding: 0;
   width: auto;
   z-index: 1;
}

#front-page-tabs li {
   list-style: none;
   margin-left: 0;
   padding: 10px;

   background: whiteSmoke;
   background: -webkit-linear-gradient(whiteSmoke, #EEE);
   background: -moz-linear-gradient(whiteSmoke, #EEE);
   background: -ms-linear-gradient(whiteSmoke, #EEE);
   background: -o-linear-gradient(whiteSmoke, #EEE);
   background: linear-gradient(whiteSmoke, #EEE);

   border-bottom: 1px solid #DDD;
   border-left: 1px solid #DDD;

   -webkit-box-shadow: inset 0 1px 0 white;
   box-shadow: inset 0 1px 0 white;
   height: 79px;
   top: auto;
}

#front-page-tabs .panes {
   float: left;
   width: 100%;
   font-size: 40px;
   margin-left: 10px;
}

.front-page-tab-body {
   background-repeat:no-repeat;
   background-position:left bottom;
   min-height: 400px;
   clear:left;
   margin-left: 360px;
}

#view-some-data {
   background-image: url('gPlus.svg');
}

#run-a-module {
   background-image: url('gPlay.svg');
}

#check-module {
   background-image: url('gCheck.svg');
}