.legal-text p {
  padding-top: 15px;
}

.legal-text h2 {
  padding-top: 25px;
}

.legal-text ul {
	list-style-type: square;
	padding-left: 20px;
}


.legal-text li {
	list-style-type: square;
	padding-left: 10px;
}