// Place all the styles related to the ModConfigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.process-dropdown-control {
  
}


#server-list {
  padding-left: 0px;
  color: black;
  font-size: 120%;
  list-style-type: none;
}

#server-list li {
    
}

// Title of server in the server list
.wps-title {
  text-decoration: underline;
}

// Description of server in the server list
.wps-descr {
  margin-left: 20px;
}
