// Place all the styles related to the ModConfigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.process-dropdown-control {
  
}
