// Place all the styles related to the ModConfigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.process-dropdown-control {

}


#server-list {
  padding-left: 0px;
  color: black;
  font-size: 100%;
  list-style-type: none;
}

#server-list li {

}

.model-descr-table {
  //font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  //font-size:12px;
  //width:80%;

  text-align:left;
  border-collapse:collapse;
  margin:40px;
  margin-top: 0px;

}

.model-descr-table th {
  font-weight: bold;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  padding: 8px;
}

// Hanging outdent of Inputs and Outputs headers
.outdent {
  margin-left: -30px;
}

// Model Inputs/Model Outputs header
.model-descr-table .group-header {
  background: none;
  font-size: 130%;
  text-align: left;
  border-top: none;
  padding-top: 40px;
  font-weight: normal;
}


.model-descr-table td {
  background:#e8edff;
  border-bottom:1px solid #fff;
  //color:#669;
  border-top:1px solid transparent;
  padding:8px;

  // Keep tables from growing too wide!
  max-width:600px;
  word-wrap: break-word;
}

.model-descr-table tr:hover td {
  background:#d0dafd;
  color:#339;
}

// MODULE STATUS message box text (not including "MODULE STATUS")
#status_display {
  text-align: right;
  font-style: italic;
}

.module-status-box {
  float: right;
  border: 1px solid black;
  padding: 10px;
  text-align: right;
}


// Text displayed when there are no inputs or outputs for a configuration
.no-inputs-ouputs {
  font-style: italic;
}

// Title of server in the server list
.wps-title {
  text-decoration: underline;
}

// Description of server in the server list
.wps-descr {
  margin-left: 20px;
}

// Name of each process in module catalog
.process-title {

}

// Descy of each process in module catalog
.process-descr {

}

// Server name for each process in module catalog
.process-server-name {
  color: #666;
}

.process-server-name .hosted-by {
  font-weight: bold;
}

.process-server-name .server-name {

}


// Left column of inputs/outputs table
.param-name {

}

// Right column of inputs/outputs table
.param-descr {

}



