/* Standard zebra striping for tables */
.zebra { border-spacing: .25em; }
.zebra td { padding: .25em .5em; }
.zebra tr:nth-child(even) { background: #CCC }
.zebra tr:nth-child(odd) { background: #EEE }
.zebra th { background: #EBE300; padding: .25em .5em; }


/* The following are for sortable tables -- they render the sorting arrows on the column headers */
table.sortable thead tr .headerSortUp { 
    background-image: url(images/tables/asc.gif); 
} 

table.sortable thead tr .headerSortDown { 
    background-image: url(images/tables/desc.gif); 
} 

table.sortable th.header { 
    background-image: url(images/tables/unsorted.gif);     
    background-position: center right;
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 20px;  
} 