/* Standard zebra striping for tables */
.zebra { border-spacing: .25em; }
.zebra td { padding: .25em .5em; }
.zebra tr:nth-child(even) { background: #D0D0D0 }
.zebra tr:nth-child(odd) { background: #F2F2F2 }
.zebra th { background: #FFFF55; padding: .25em .5em; font-weight: bold; }

/* Enable the following for zebra striping 
/*.x-tree-node-ct li:nth-child(even) { background: #CCC }
.x-tree-node-ct li:nth-child(odd) { background: #EEE }*/

/* The following are for sortable tables -- they render the sorting arrows on the column headers */
table.sortable thead tr .headerSortUp { 
    background-image: url(images/tables/asc.gif); 
} 

table.sortable thead tr .headerSortDown { 
    background-image: url(images/tables/desc.gif); 
} 

table.sortable th.header { 
    background-image: url(images/tables/unsorted.gif);     
    background-position: center right;
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 20px;  
} 


/* Align Inputs and Outputs with text in table header */
.table-label {
	margin-top: 0.5em;
}


/* URL input on Register Datasets and Register WPS Server */
.url-form {
	width: 100%;
	max-width: 600px;
  white-space: nowrap;

  margin-bottom: 15px;
}

.url-form input {
  width: 100%;
}
