.ticket_desc
{
  background: #DDDDDD;
  min-height: 40px;
  padding: 4px;
  margin-top: 6px;
}

.ticket_author_tab
{
  padding: 0em !important;
  border-spacing: 0em !important;
  border: 0 !important;
}

.ticket_author_tab td
{
  padding: 2px !important;
  valign: top;
}


.ticket_tab 
{
  border-spacing: .25em; 
}

.ticket_tab td
{
  padding: .25em .5em; 
  background: #DDDDDD;
} 

.even_row
{
  background-color: #D0D0D0 !important;
}

