.ticket_author_tab
{
  padding: 0em !important;
  border-spacing: 0em !important;
  border: 0 !important;
}

.ticket_author_tab td
{
  padding: 2px !important;
  valign: top;
}


.ticket_tab 
{
  border-spacing: .25em; 
}

.ticket_tab td
{
  padding: .25em .5em; 
  background: #CCCC66;
} 

.even_row
{
  background-color: #D0D0D0 !important;
}

.odd_row
{
  background-color: #F2F2F2 !important;
}

.ticket_title
{
  background-color: #FAFA7D;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 4px;
}

.tickets_button
{
  width: 130px;
}

/* ------------- Toggle button ------------- */

.toggle_button 
{
  color: #999999;
  border-color: #AAAAAA;
  border-width: thin;           
}

.toggle_button_down 
{
    color: #000000;
    background: #DDDDDD;
    border-width: thin;
}

