[Logging]
logFile: /tmp/WPSClient.log
logLevel: DEBUG

[Data]
GMLfilesPath: /var/www/tmp/

[MapServer]
MapServerURL: http://localhost/cgi-bin/mapserv?map=
mapFilesPath: /var/www/tmp/
mapTemplate: /var/www/MapServ/map.html
imagePath: /var/www/MapServ/map_images/
imageURL: /MapServ/map_images/
otherProjs: EPSG:3857 EPSG:3035 EPSG:4326 EPSG:900913
meta_fees: none
meta_accessconstraints: none
meta_keywordlist: Geospatial WebServices,iGUESS, MUSIC
meta_addresstype: 
meta_address: 66, rue de Luxembourg
meta_city: Esch-sur-Alzette
meta_stateorprovince: 
meta_postcode: 4221
meta_country: Luxembourg
meta_contactelectronicmailaddress: info@tudor.lu
meta_contactperson: Han Solo
meta_contactorganization: CRP Henri Tudor
meta_contactposition: Engineer
meta_role: Engineer
meta_contactvoicetelephone: 00352 425991 6000
meta_contactfacsimiletelephone: 00352 425991 555
meta_contactinstructions: by phone
meta_hoursofservice: 24/7
